body            { font-family: sans-serif; 
					background-image:url('grid.png');
					background-repeat:repeat; }
a, h2       { color: #377BA8; }

h2          { font-family: 'Quicksand';
				font-size: 3em;
				text-align: center}
				
h1              {  font-family: 'Londrina Shadow';
					font-size: 8em;
					text-align: center }
.page           { margin: 2em auto; width: 35em;
                      padding: 0.8em; }
.users        { list-style: none; margin: 0; padding: 0; }
.users li     { margin: 0.8em 1.2em; }
.users li h2  { margin-left: -1em; }
.add-user      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-user dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em; margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em; border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
.text-input {font-size: 3em;
				}
.submit {	margin-top: 20px;
			font-size: 2em;
			margin-left: 95px;
			width: 300px;
			background: white;
			}
			
.submit:hover {	background: gray;
			}